.comment{
    box-sizing: border-box;
    border-style: ridge;
    padding: 5px;
    -moz-box-shadow: 0px 0px 5px #a0a0a0;
    -webkit-box-shadow: 0px 0px 5px #a0a0a0;
    box-shadow: 0px 0px 5px #a0a0a0;
    font-weight: bold;
    padding: 10px;
}
button{
    box-sizing: border-box;
    border: 1px solid;
    background-color: white;
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
}